.links,
.contacts,
.addresses {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.topfooter {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid white;
  padding: 20px;
}

.footermain {
  background-color: #272d3d;
  color: white;
  height: 350px;
  width: 1366px;
}
.footer {
  display: flex;
  justify-content: space-around;
}
.link {
  text-decoration: underline;
}
