.tiles {
  display: flex;
  flex-wrap: wrap;
  margin-left: 8%;
}
.countries {
  display: flex;
  justify-content: space-evenly;
  margin-left: 35%;
  align-items: center;
  /* height: 28px; */
  width: 308px;
  /*
  top: 863.3515625px; */
}
#kenya {
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 3px 10px;
}
.site {
  margin: 15px;
  text-align: center;
  height: fit-content;
  overflow-y: hidden;
}
.sitephoto {
  width: 200px;
  height: 150px;
  overflow-y: hidden;
}
.siteimage {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
